/* FONT */
@import url('https://fonts.cdnfonts.com/css/poppins?styles=20394,20397,20398,20387,20388,20390,20391,20392,20393,20395,20396,20383,20384,20385,20386,20381,20382');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    /* COLORS */
    --white: #f9f9f9;
    --black: #36383F;
    --grey: #85888C;
    --blue: #00007D;
    --yellow: #F4E218;

    /* FONT SIZES */
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --h4-font-size: 1.130rem;

    /* FONT WEIGHT */
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* MARGINS */
    --mb-0: 0rem;
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  

body {
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */
.header {
    background-color: var(--blue);
    box-shadow: 1px 1px 5px 0px var(--grey);
    position: sticky;
    top: 0;
    width: 100%;
}

/* Logo */
.logo {
    height: 80px;
    /* Default height for desktop */
    display: inline-block;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .logo {
        height: 50px;
        /* Adjust the height for phones */
    }
}


#floating-logo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    opacity: 0.3;
    z-index: -100;
    transition: opacity 0.3s ease-in-out;
}




/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--blue);
    overflow: hidden;

}

.menu a,
.subnavbtn {
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover {
    background-color: var(--yellow);
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}



/* Sub nav */
.subnav {
    position: relative; /* Add this to the parent element */
}

.subnav-content {
    background-color: var(--white);
    width: 100%;
    z-index: 2;
    padding: 20px 0;
    display: none;
}

.subnav-content a {
    color: var(--black);
    text-decoration: none;
    padding: 30px;
    margin: 10px 0;
    text-align: center;
}

.subnav:hover .subnav-content {
    display: block;
}

.subnavbtn:hover {
    color: var(--yellow);
}

@media (min-width: 768px) {

    /* Sub nav */
    .subnav-content {
        padding: 20px 0;
        background-color: var(--blue);
    }

    .subnav-content a {
        color: white;
    }
}



/* Menu Icon */

.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;

}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}


/* SECTION */
.section {
    padding: 2rem 2rem 2rem;
    /* TOP, LEFT&RIGHT, BOTTOM == MOBILE VIEW */
    background-color: #f6f8fa;
}

.section_title {
    font-size: var(--h1-font-size);
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.section_title,
.section_subtitle {
    text-align: center;
}

.section_p {
    text-align: center;
}



/* HOME */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--blue);
}

.home_banner {
    max-width: 60%;
    height: auto;
    margin: 0 auto;
}



/* URSB25 BANNER */

.ursb25 {
    background-image: linear-gradient(to bottom, #00007D, var(--white));
}

.ursb25 h2 {
    color: var(--white);
    font-family: 'Great Vibes', cursive;
    font-size: var(--mb-3);
}

.ursb25 span {
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-size: var(--mb-1);
}

.ursb25 p {
    color: var(--white);
}



/* DAY CELEBRATION SLIDE */

.slideshow {
    overflow: hidden;
    height: 420px;
    width: 728px;
    margin: 0 auto;
}

.slide_wrapper {
    width: 2184px;
    /* Adjust based on the total width of your images */
    animation: slide 18s ease infinite;
}

.slide {
    float: left;
    height: 600px;
    width: 728px;
}

.slide img {
    width: 100%;
    height: auto;
}

@-webkit-keyframes slide {
    20% {
        margin-left: 0px;
    }

    30% {
        margin-left: -728px;
    }

    50% {
        margin-left: -728px;
    }

    60% {
        margin-left: -1456px;
    }

    70% {
        margin-left: -1456px;
    }

    80% {
        margin-left: -1584px;
    }
}




/* FOOTER */

.footer {
    padding-top: 2rem;
  }
  
  .footer__container {
    row-gap: 3.5rem;
  }
  
  .footer__bg {
    background-color: var(--black);
    padding: 2rem 0 2rem;
  }
  
  
  .footer__copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: #fff;
    margin-top: var(--mb-0-5);
  }




/* Responsiveness */
@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--yellow);
    }

    .hamb {
        display: none;
    }

    .section {
        padding: 2rem 14rem 2rem;
        /* TOP, LEFT&RIGHT, BOTTOM == DESKTOP VIEW */
        background-color: #f6f8fa;
    }


}
